<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
      <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
      <!-- Page Content -->
      <div class="hero is-fullheight is-danger is-bold">
          <div class="hero-body">
              <div class="container">
                  <h1 class="title has-text-centered"> Form </h1>
                  <div class="box">
                      <!-- Vue Element -->
                      <form id="signup" v-on:submit.prevent="submitForm">
                          <div class="field">
                            <label class="label"> Name </label>
                            <input
                              type="text"
                              name="name"
                              class="input"
                              v-model="username"
                            />
                          </div>
                          <div class="field">
                            <label class="label"> Email Address </label>
                            <input
                              type="email"
                              name="name"
                              class="input"
                              v-model="email"
                            />
                            <p class="help is-danger" v-if="errors.email">
                                Incorrect Email Format
                            </p>
                          </div>
                          <div class="field has-text-right">
                              <button type="submit" class="button is-primary"> Submit </button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      <script>

          // Retrieve vue
          const app = new Vue({
              el : '#signup',

              data : {
                  username : '',
                  email : '',
                  // Modify for error handling
                  errors : {
                      name : false,
                      email : false,
                  }
              },

              methods : {
                submitForm : function() {
                    console.log({ name : this.username, email : this.email})
                },
                validateEmail: function(email) {
                    // Do validation
                    // Set errors object based on this
                }
              }

          });

      </script>
    </body>
</html>
